---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="w-full h-full">
        <div class="
            absolute inset-0 -z-10
            [background-size:20px_20px]
            [background-image:radial-gradient(#FCF8E8_3px,transparent_1px)]
            dark:[background-image:radial-gradient(#404040_1px,transparent_1px)]
        " />
        <div class="h-full flex items-center justify-center">
            <text class="font-bold text-2xl">Tondi Wiki</text>
        </div>
    </main>
</Layout>
